body{
/*
    background-image: url(image/bg-blured.png);
    background-size: cover;
*/
}
.hero{
/*
    background-image: url(image/bg-blured.png);
    background-size: cover;
*/
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
/*    width: 960px;*/
}

h1,h2,h3{
color:brown;
}
ul{
    list-style-image: url(images/tiny-coffee-cup.gif)
}
a:link,a:visited{
    text-decoration: none;
    color: brown;
    font-weight: bold;
}
a:hover{
    color: black;
}
nav ul{
    list-style-type: none;
    padding: 0;
    
}

nav li{
    display: inline;
    float: left;
}

/*
nav a:link, nav a:visited{
    text-decoration: none;
    background-color: brown;
    color: white;
    font-weight: bold;
    display: block;
    width: 160px;
    text-align: center;
    padding: 10px 0;
    
}
*/

/*
nav a:hover{
    background-color: black;
}
*/

aside{
    width: 280px;
    float: right;
    background-color: tan;
    text-align: center;
    font font-weight: bold;
    padding: 20px; 
    margin: 0 0 0 20px;
    
}
.photo-left{
    float: left;
    margin: 0 20px 0 0 ;
}
.photo-right{
    float: right;
    margin-left: 20px;
}
header{
    background: url("images/coffee-beans.jpg") no-repeat;
    background-size: cover;
    height: 100px;
    margin-bottom: 10px;
}
header h1{
    color: rgba(256,256,256,.8);
    margin-left: 30px;
    margin-top: 30px;
    font-size: 50px;
}
footer{
    margin: 40px 0;
}
footer nav a:link,footer nav a:visited{
    color: gray;
    text-decoration: none;
    display: block;
    width: 160px;
    text-align: center;
    background-color: white;
    
}
footer nav a:hover{
    color: black;
}
td,th{
    border: 1px solid black;
    width: 20%;
    text-align: center;
    padding: 5px;
    
}
table{
    border-collapse: collapse;
    margin-top: 10px;
}
/*
caption{
    margin-bottom: 10px;
}
*/
video{
    margin-bottom: 20px;
    margin-left: 160px;
    filter: grayscale(100);
}
.navbar-toggler{
    float: right;
}
.coffee{
    margin-right: 10px;
}
.font{
 font-family: 'Vollkorn', serif;
    
}

p{
    text-align: justify;
}

span{
      font-family: 'Pacifico', cursive;
}
/*
.navbar{
    margin-top: 25px;
    margin-bottom: 25px;
}*/
nav{
/*
    margin-top: 30px;
}*/
